<div class="container my-auto p-3" th:fragment="contenido">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h2>Crear nueva área</h2>
        </div>
        <form class="card-body" th:action="@{/areas/crear}" th:object="${area}" method="POST">
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" th:field="*{nombre}" th:errorClass="'is-invalid'">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
          </div>
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary mx-2">Guardar</button>
            <a href="/areas" class="btn btn-secondary mx-2">Volver</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script th:fragment="script"></script>